<div class="container"> 
    <div class="formulario">
        <form action="/admin/login" method="post">
            <div class="logo"><img src="/images/logoSCJ.png" alt="logo"></div>
            
            <div class="label">
                <label for="usuario">Usuário</label>
            </div>
            <div class="inputs">
                <input type="text" name="usuario" id="usuario" required>
            </div>

            <div class="label">
                <label for="senha">Senha</label>
            </div>
            <div class="inputs">
                <input type="password" name="password" id="senha" required>
            </div>
                        
            <div class="button">
                <button>Entrar</button>
            </div>
        </form>
    </div>
</div>