{{#if success_msg}}
    <div class="msgG" id="msgG">
        <div class="msgS">
            {{success_msg}}
        </div>
        <div class="btnclose">
            X
        </div>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="msgG">
        <div class="msgE">
            {{error_msg}}
        </div>
        <div class="btnclose">
            X
        </div>
    </div>
{{/if}}