<div class="menulateral">
    <div class="opcoes">
        <div class="carrossel">
            <a href="/admin/configN/Carrossel">Config Carrossel</a>
        </div>
        <div class="galeria">
            <a href="/admin/configN/Galeria">Config Galerias</a>
        </div>
        <div class="capela">
            <a href="/admin/configN/Capelas">Config Capelas</a>
        </div>
        <div class="horario-matriz">
            <a href="/admin/configN/Horario-Matriz">Config Horário Matriz </a>
        </div>
         <div class="historia">
            <a href="/admin/configN/Nossa-Historia">Config Nossa História</a>
        </div>
        <div class="storie">
            <a href="/admin/configN/Stories">Config Stories</a>
        </div>
    </div>
    <div class="logo">
        <div class="logo2">
            <img src="/images/logoSCJ.png" alt="logo">
        </div>
    </div>
</div>