<div class="menulateral">
    <div class="opcoes">
        <div>
            <a href="">Adm Batismo</a>
        </div>
        <div >
            <a href="">Adm Casamento</a>
        </div>
        <div>
            <a href="/admin/configS/adm-eventos">Adm Eventos</a>
        </div>
        <div>
            <a href=""></a>
        </div>
    </div>
    <div class="logo">
        <div class="logo2">
            <img src="/images/logoSCJ.png" alt="logo">
        </div>
    </div>
</div>