<div class="menulateral">
    <div class="opcoes">
        <div>
            <a href="">Agendamento Batismo</a>
        </div>
        <div >
            <a href="">Agendamento Casamento</a>
        </div>
        <div>
            <a href="">bla bla bla</a>
        </div>
        <div>
            <a href="">bla bla bla</a>
        </div>
    </div>
    <div class="logo">
        <div class="logo2">
            <img src="/images/logoSCJ.png" alt="logo">
        </div>
    </div>
</div>