<div class="footer">
    <div class="logoFooter">
        <img src="/images/logoSCJ.png" alt="LogoFooter">
    </div>
    <div class="info2">
        <div class="info">
        <h4>PAROQUIA SAGRADO CORAÇÃO DE JESUS</h4>
        <h5 class="cnpj">CNPJ: 02.081.739/0001-09</h5>
        <h4>Rua Ari Barroso, S/N</h4>
        <h5>Curado II - Jaboatão dos Guararapes - PE</h5>
        </div>
    </div>
</div>