<div class="menu">
    <div class="logo">
        <a href="/"><img src="/images/logoSCJ.png" alt="logo"></a>
    </div>
    <div class="option">
        <div class="pastorais">
           <a href="/pastorais">Pastorais</a>
        </div>
        
        <div class="comunidades">
         <a href="/comunidades">Comunidades</a>
        </div>
            
        <div class="eventos">
         <a href="/movimentos">Movimentos</a>
        </div>
        
        <div class="horarios">
           <a href="/horarios-matriz">Horários Matriz</a>
        </div>
        
        <div class="historia">
            <a href="/nossa-historia">Nossa História</a>
        </div>
        
        <div class="contatos">
           <a href="/contatos">Contatos</a>
        </div>
    </div>
</div>