*{
    font-family: Arial, Helvetica, sans-serif;
}
.capelas{
    float: right;
    width: 82%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DomBosco form{
    display: flex;
    justify-content: space-between;
}
.SantaLuzia form{
    display: flex;
    justify-content: space-between;
}
.SaoJose form{
    display: flex;
    justify-content: space-between;
}
.DomBosco, .SantaLuzia, .SaoJose{
    width: 70%;
    margin-bottom: 3rem;
    border: 0.1rem solid #9f4747;
    border-radius: 1rem;
    padding: 2rem;
}
label, input, h1{
    margin-bottom: 0.6rem;
}
h1{
    color: #9f4747;
}
button{
    background-color: rgb(11, 168, 11);
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
}