.Body{
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 3.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #9f4747;
}
.horarios{
    background-color: #833232;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background-color: #efefef;

}