.Body{
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 3.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #9f4747;
}
.inicio{
    background-color: #833232;
}
.divStories{
    display: flex;
    flex-direction: column;
    height: 7rem;
    background-color: #efefef;
}