<div class="body">
    <div class="name">
        <h1>MOVIMENTOS</h1>
    </div>
    <div class="EJC">
        <a href="/movimentos/CadEJC"><h1>Encontro de Jovens com Cristo</h1></a>
    </div>

    <div class="ECC">
        <a href="/movimentos/CadECC"><h1>Encontro de Casais com Cristo</h1></a>

    </div>

</div>