<div class="body">
    <div class="titlePage">
        <h1>MOVIMENTOS</h1>
    </div>
   <div class="container">
        <div class="EJC">
            <div><img src="/images/logo-ejc.png" alt="Logo EJC"></div>
            <div class="subDivs">
                <div><h2> EJC - Encontro de Jovens com Cristo</h2></div>
                <div><a href=""> MAIS DETALHES SOBRE O EJC ></a></div>
                <div><a href=""> FAÇA SUA INSCRIÇÃO AQUI ></a></div>
            </div>
        </div>

        <div class="ECC">
            <div><img src="/images/logo-ecc.png" alt="Logo ECC"></div>
            <div class="subDivs">
                <div><h2> ECC - Encontro de Casais com Cristo</h2></div>
                <div><a href=""> MAIS DETALHES SOBRE O ECC > </a></div>
                <div><a href="">FAÇA SUA INSCRIÇÃO AQUI ></a></div>
            </div>
        </div>
    </div>
</div>