<div class="container">
      <div class="add">
              <h1>Cadastre um novo evento</h1>
          <div class="button" id="button" >
              <button onclick="adicionar()">Adicionar</button>
          </div>
    <div class="form">  
      <div class="formValues" id="formValues">
        <form action="/script.js" method="POST">
          <div class="addPositive">
            <label for="descriptionPositive">Descrição do valor: </label><br>
            <input type="text" name="descriptionPositive"><br>
            <label for="valuePositive">Valor: </label><br>
            <input type="number" name="valuePositive"><br>
            <input class="addButton" type="button" value="Incluir Valor" onclick="addButton()">
          </div>
          <div class="addNegative">
            <label for="descriptionNegative">Descrição do valor: </label><br>
            <input type="text" name="descriptionNegative"><br>
            <label for="valueNegative">Valor: </label><br>
            <input type="number" name="valueNegative"><br>
            <label for="NFe">NFe:</label><br>
            <input type="file" name="nefNegative"><br>
            <input class="delButton" type="button" value="Incluir Valor" onclick="delButton()">
            <div class="buttons">
              <button>Salvar</button>
              <input class="cancelButton" type="button" value="Cancelar" onclick="cancel()">
            </div>
          </div>
        </form>
    </div>
        <div class="showValue" id="showValue">
          <div class="showValuePositive">
            <h3>
              Entradas
            </h3>
            <div class="valuePos" id="valuePos">

            </div>
          </div>
          <div class="showValueNegative">
            <h3>
              Saídas
            </h3>
            <div class="valueNeg" id="valueNeg">

            </div>
          </div>
        </div>
      </div>
      </div>  
      <div class="consulta">
        <h1>Consulte os eventos cadastrados</h1>
          <div class="container-cards">
              <div class="cards">
                  <div class="label">
                      <h3>Nome do Evento</h3>
                  </div>
                  <div class="sub">
                      <div class="item">
                          Valor total líquido: R$30,00
                      </div>
                      <div class="item">
                          <p> ver mais +</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
<script>
  var showValue = document.getElementById("showValue");
  var valuePos = document.getElementById("valuePos")
  var valueNeg = document.getElementById("valueNeg")
    
    if (valuePos.innerHTML.trim() || valueNeg.innerHTML.trim() === ""){
      showValue.style.display = "none"
    }
    </script>