<div class="container">
        <div class="cadastrar">
                <h1>Cadastre um novo evento</h1>
            <div class="button">
                <button onclick="cadastrar()">Adicionar</button>
            </div>
        </div>

        <div class="consulta">
            <h1>Consulte os eventos cadastrados</h1>
            <div class="container-cards">
                <div class="cards">
                    <div class="label">
                        <h3>Nome do Evento</h3>
                    </div>
                    <div class="sub">
                        <div class="item">
                            Valor total líquido: R$30,00
                        </div>
                        <div class="item">
                            <p> ver mais +</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>